@font-face {
  font-family: Satoshi, sans-serif;
  src: url(../../fonts/Satoshi-Light.woff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  font-family: Clash Display, sans-serif;
  src: url(../../fonts/ClashDisplay-Light.woff);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  font-family: Clash Display, sans-serif;
  src: url(../../fonts/AstrumScriptCyrillic_Bold.woff);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
